:root {
    --color-white:      #fff;
    --color-black:      #000;
    --color-primary:    #1f1e23;
    --color-secondary:  #45444a;
    --color-light:      #41404c;
    --color-border:     #71600f;
    --color-accent:     #daa520;
    --color-success:    #56d897;
    --color-error:      #833030;
    --color-text:       var(--color-white);
    --color-highlight:  var(--color-black);
    --slider-dot-color: var(--color-accent);
}