:root {
    --color-white:      #fff;
    --color-black:      #000;
    --color-primary:    #6a2367;
    --color-secondary:  #cd5fd9;
    --color-light:      #b842aa;
    --color-border:     #ba2bba;
    --color-accent:     var(--color-light);
    --color-success:    #56d897;
    --color-error:      #833030;
    --color-text:       var(--color-white);
    --color-highlight:  var(--color-white);
    --slider-dot-color: var(--color-secondary);
}