@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url(./Poppins-SemiBold.ttf);
  }
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url(./Poppins-ExtraBold.ttf);
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(./Montserrat-Regular.ttf);
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url(./Montserrat-Medium.ttf);
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url(./Montserrat-SemiBold.ttf);
  }
  